extends base_site

block site_content
  h1 Getting started

  .alert.alert-danger
    strong Warning!
    span
      :md
        *This is currently under heavy development*.  It might quickly
         change. You should probably not use it before *1.0.0*.

  include:md getting-started.md
