extends base_site

block site_content
  h1 Project status

  p
    :md
      This project is in an early stage and not yet production-ready.  Keep up
      with the version number:  A stable state is signaled with a version
      *1.0.0* or above.  In the meantime you're welcome to review the project
      and get involved to push it's API to the highest flexibility.
